<table class="table table-striped">
  <% tweets.each do |tweet| %>
    <tr>
      <td>
        <strong>User:</strong>
        <a href=<%= tweet[:link] %>>
          <%= "@#{tweet[:screen_name]}" %>
        </a>
        <p>
        <strong>Followers: </strong> <%= tweet[:followers_count] %>
        </p>
      </td>
      <td>
        <strong>Tweet: </strong> <%= tweet[:text] %>
      <p>
        <strong>At: </strong> <%= tweet[:date] %>
        <strong>Reweets: </strong> <%= tweet[:retweet_count] %>
        <strong>Likes: </strong> <%= tweet[:favorite_count] %>
      </p>
      </td>
    </tr>
  <% end %>
</table>
